@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-regular {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
}
.hero-section,
.woman-section,
.man-section,
.more-section{
    max-width: 1440px;
    margin:  0 auto;
    padding: 0 25px;
}

/* Header section starts here */
header{
    background-color: #FFFBF0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.nav-brands{
    width: 25%;
    
}
.logo{
    width: 100%;
}
.nav-links{
    display: flex;
    gap: 50px;
}
.nav-item:last-child{
    display: none;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: black;
}
.hero-section{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
.hero-content{
    width: 50%;
    padding-right: 100px;
}
.hero-title{
    color: #FABE4C;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 15px;
}
.hero-span{
    color: #363958;
}
.hero-description{
    margin-bottom: 25px;
    color: rgb(62, 62, 62);
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    font-size: 1.1rem;
    border-radius: 10px;
    background-color: #97B134;
    border: 1px solid #97B134;
    color: white;
    cursor: pointer;
}
.btn-img{
    width: 28px;
    padding-right: 10px;
}
/* Header section ends here */

/* Woman setion starts here */
.woman-section{
    margin-top: 100px;
}
.woman-title{
    color: rgb(54, 57, 88);
    font-size: 2.5rem;
    text-transform: uppercase;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 50px;
}
.card{
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}
.card-header{
    height: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: rgb(241, 241, 241);
    padding: 25px;
}
.card-img{
    width: 100%;
    height: 100%;
}
.card-title{
    color: rgb(54, 57, 88);
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.card-description{
    color: rgb(62, 62, 62);
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
}
.card-footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-price{
    color: rgb(250, 190, 76);
    font-size: 2.3rem;
    font-weight: 700;
}
/* Woman setion ends here */

/* Man section starts here */
.man-section{
    margin-top: 100px;
}
.man-title{
    color: rgb(54, 57, 88);
    font-size: 2.5rem;
    text-transform: uppercase;
}
/* Man section ends here */

/* More section starts here */
.more-section{
    margin-top: 100px;
}
.more-container{
    display: flex;
    align-items: center;
    gap: 100px;
}
.more-image{
    width: 100%;
}
.more-img{
    width: 100%;
}
.more-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    margin-bottom: 25px;
}
.more-content-img{
    width: 15%;
}
.more-content-text{
    padding-left: 25px;
}
.more-content-title{
    color: rgb(54, 57, 88);
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.more-content-description{
    color: rgb(62, 62, 62);
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
}
/* More section ends here */

/* Footer starts here */
footer{
    margin-top: 50px;
    color: rgb(62, 62, 62);
    font-size: .9rem;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    padding: 0 20px;
}
/* Footer ends here */
/*========================= Responsive design starts here (For mobile) =======================*/
@media screen and (max-width:576px) {
    .nav-item{
        display: none;
    }
    .nav-item:last-child{
        display: inline;
    }
    .nav-brands{
        width: 70%;
        
    }
    .logo{
        width: 100%;
    }
    .hero-section, 
    .more-container{
        flex-direction: column;
    }
    .hero-content{
        width: 100%;
        padding-right: 0;
        margin-bottom: 50px;
    }
    .hero-title{
        font-size: 3rem;
    }
    .hero-image{
        width: 100%;
    }
    .hero-img{
        width: 100%;
    }
   .container{
        grid-template-columns: 1fr;
    }
    .woman-title{
        font-size: 2rem;
    }
    .card-footer,
    .more-content{
        flex-direction: column;
        gap: 20px;
    }
    .more-content{
        text-align: center;
    }
    .more-content-img{
        width: 33%;
    }
    .more-content-text{
        padding-left: 0;
    }
}

/* Responsive design starts here (For tablet) */
@media screen and (min-width:576px) and (max-width:992px) {
    .hero-section,
    .more-container{
        flex-direction: column;
    }
    .hero-content{
        width: 100%;
        padding-right: 0;
        margin-bottom: 50px;
        margin-top: 25px;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .card-header{
        height: 400px;
    }
}